.continer{
    width: 100%;
    height: 43rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CardWrap{
    width: 80%;
    height: 65vh;
    display: flex;
}
.CardImg{
    width: 50%;
    display: flex;
    border: 1px solid;
}
.img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid;
}
.detaile{
    width: 50%;
    padding: 2rem;
    border: 1px solid;
    position: relative;
}
.cardtitle{
    font-size: 3rem;
}
.cardPara{
    font-size: 1.5rem;
}
.btncard{
    width: 30% ;
    font-size: 20px;
    margin-bottom: 5%;
    position: absolute;
    bottom: 0;   
    border-radius: 20px;
}