.CardWrapper{
    width: 20%;
    height: 450px;
    background-color: #f0f8ff;
    border: 1px solid;
    position: relative;
}

.imagecard{
    width: 100%;
    height: 50%;
}
.cd{
    padding: 1em;
}
.headCard{
    font: 1.5rem sans-serif;

}
.paracard{
    width: 100%;
    font: 1rem sans-serif;
}

.btn{
    font-size: 32px;
    margin: 1rem;
    position: absolute;
    bottom: 0;   
    left: 0;
    right: 0;
}